doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title book management
    link(rel="stylesheet", href="/css/index.css")
  body
    div(class="nav")
      h1 Book Management
      a(href="/book") Book
      a(href="/category") Category
    div(class="container")
      block content
