body {
  margin: 0;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
}

.btn-primary {
  background-color: #3970ff;
  color: white;
}

.btn-success {
  background-color: #16d05e;
  color: white;
}

.btn-warning {
  background-color: #ffa82f;
  color: white;
}

.btn-danger {
  background-color: #ff4545;
  color: white;
}

.table {
  margin-top: 30px;
  border-collapse: collapse;
  border: solid 1px #282828;
}

.table th {
  background-color: #282828;
  color: white;
  padding: 15px;
}

.table td {
  padding: 15px;
}

.input {
  padding: 10px 10px;
  margin-bottom: 15px;
  margin-left: 15px;
  border: solid 1px #282828;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #282828;
  color: white;
  padding-left: 15px;
}

.nav h1 {
  font-size: 25px;
  margin-right: 20px;
}

.nav a {
  display: inline-block;
  margin-left: 15px;
  text-decoration: none;
  color: white;
}

.container {
  padding: 0px 15px;
}
