extends ../layout.pug

block content
  p Create new book
  form(action="/book" method="POST")
    div
      label Title
        input(type="text" name="title" class="input")

    div
      label Pages
        input(type="text" name="pages" class="input")

    div
      label Category
        select(name="category_id" class="input")
          each category in categories
            option(value=category.id)= category.name
    
    div
      input(type="submit" value="Submit" class="btn btn-success")